/* Colors */
:root{
     --primary: #492548;
     --secondary: #AC92A1;
     --title: #9FA58C;
     --light: #BF95B9;
     --pinkey: #B36b91;
     --white: #fff;
     --background-color: #DBCBE0;
     --text-color: #8D5083;
}
*{
  padding: 0;
  margin: 0;
}

.loader {
     display: block;
     width: 84px;
     height: 84px;
     position: relative;
   }
   
   .loader:before , .loader:after {

     content: ""; color: var(--white);
     position: absolute;
     left: 50%;
     bottom: 0;
     top: 5em;
     left: 5em;
     width: 64px;
     height: 64px;
     border-radius: 50%;
     background: var(--black);
     transform: translate(-50% , -100%)  scale(0);
     animation: push_401 2s infinite linear;
   }
   
   .loader:after {
     animation-delay: 1s;
   }
   
   @keyframes push_401 {
     0% , 50% {
       transform: translate(-50% , 0%)  scale(1)
     }
   
     100% {
       transform: translate(-50%, -100%) scale(0)
     }
    
   }
   .container{
    display: flex;
    margin-top: 5em;
    justify-content: center;
    
   }
   .card {
    width: 190px;
    height: 254px;
    border-radius: 20px;
    background: var(--background-color);
    position: relative;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
    text-align: center;
  }
  h2 {
    position: absolute;
    color: var(--white);

    right: 3em;
    top: 1.8em;
    
  }
  .card-details {
    color: var(--text-color);
    height: 70%;
    gap: 0.5em;
    display: grid;
    place-content: center;
  }
  
  img {
    max-width: 100%;
  }